@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .restart_animation {
    animation-name: rotate;
    animation-duration: 1s;
  }

  @keyframes rotate {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
